/* styles.css */

/* Header */
.header-bg {
  height: 100vh;
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Navigation */
.navbar-brand img {
  width: 100px;
}

/* Section */
.section-title {
  font-weight: bold;
}

/* Card */
.card-img-top {
  width: 100%;
}

.card-footer .btn {
  width: 100%;
}

.card-footer .btn.btn-outline-dark {
  margin-top: auto;
}